@use "sass:math";

$appWidth:100%;

html, body {
  height: 100%;
  width: $appWidth;
  margin: 0;
  padding: 0; 
  display:flex;
  flex-direction:column;
  align-items: center;
}

nav{
  display:flex;
  width: $appWidth;
  justify-content: left;
  border-bottom: 1px solid black;
}

div{
  margin:5px;
}

#form{
  border-top: 1px solid black;

  form{
    display:flex;
    flex-direction:column;
    align-items: center;

    div{
      margin:3px;
    }

    #titleDiv{
      margin-top:10px;
    }
  }

  #startDiv, #endDiv{
    margin:1px;
    display:flex;
    justify-content: right;

  }
}

.filled{
  background-color: blue;
}

td{
  border: 1px solid black;
  min-width:5vw;
  text-align:right;
}

td.timeline{
  font-size:.8em;
  text-align:center;
}

#loginForm, #signupForm{
  display:flex;
  flex-direction: column;
  align-items:center;
}

.formSubmit{
  margin-top:5px;
}
