<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset='utf-8'>
  <title>Timeline Table Maker</title>
  <script src="/assets/appbundle.js"></script>
  <link rel="stylesheet" href="/assets/main.css">
</head>
<body>
  <h1>Timeline Table Maker</h1>
  <div id="app">

  </div>
</body>
</html>
