<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset='utf-8'>
  <title>Timeline Table Maker</title>
  <script src="/assets/appbundle.js"></script>
  <link rel="stylesheet" href="/assets/main.css">
</head>
<body>
  <nav><a href="/login"><img id="logo" src="/assets/img/favicon.png" alt="rtr logo" height="30px" width="30px"/></a>
    <div class="navlink"><a id="logoutButton" href="/logout">Logout</a></div>
  </nav>
  <div id="header">
    <h1>Timeline Table Maker</h1>
  </div>

  <div id="timeline">

  </div>

  <div id="form">
  </div>

  <div id="app">

  </div>
</body>
</html>
