<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset='utf-8'>
  <title>Timeline Table Maker</title>
  <script src="/assets/appbundle.js"></script>
  <link rel="stylesheet" href="/assets/main.css">
</head>
<body>
  <nav><a href="/login"><img id="logo" src="/assets/img/favicon.png" alt="rtr logo" height="30px" width="30px"/></a>
    <div class="navlink"><a id="logoutButton" href="/logout">Logout</a></div>
  </nav>
  <div id="header">
    <h1>Timeline Table Maker</h1>
  </div>

  <div id="timeline">

  </div>

  <div id="form">
  </div>

  <div id="app" class="error">

  </div>

  <br>
  <br>
  <button><a href="https://www.amazon.com/Scribbledo-Whiteboard-Calendar-Frameless-Whiteboards/dp/B07ZHN94RP/ref=sr_1_35?crid=472Z1HLOKFRM&keywords=timeline%2Bwhiteboard&qid=1682047304&sprefix=timeline%2Bwhiteboard%2Caps%2C79&sr=8-35&ufe=app_do%3Aamzn1.fos.d977788f-1483-4f76-90a3-786e4cdc8f10&th=1">
    Profit Plan: Unlimited Timelines!</a></button>
</body>
</html>
