<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset='utf-8'>
  <title>Timeline Table Maker</title>
  <script src="/assets/appbundle.js"></script>
  <link rel="stylesheet" href="/assets/main.css">
</head>
<body>
  <nav>
    <img id="logo" src="/assets/img/favicon.png" alt="rtr logo" height="30px" width="30px"/>
    <div class="navlink"><a id="logoutButton" href="/logout"><button>Logout</button></a></div>
  </nav>
  <div id="header">
    <h1>Timeline Table Maker</h1>
  </div>
  <div id="changePassword"></div>

  <div id="timeline">

  </div>

  <div id="form">
  </div>

  <div id="app" class="error">

  </div>

  <div id="ads">
    <p>Insert Personalized Ads Here</p>
  </div>
</body>
</html>
